{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:playwright/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "packageDir": "./"
      }
    ],
    "react/prop-types": "off", // Since we do not use prop-types
    "react/require-default-props": "off", // Since we do not use prop-types
    "max-len": ["error", { "code": 140, "ignoreStrings": true }], // Since humanity has invented wider monitors
    "no-restricted-syntax": "off" // Since it restricts really nice things, and performance is not an issue for this project
  }
}