@use "../../theme/mixins.scss";

.youtubeEmbed {
  @include mixins.media-embed;
  @include mixins.media-embed-full-width-on-mobile;

  & iframe {
    aspect-ratio: 16 / 9;
  }

  & .youtubeEmbedPrintText {
    display: none;
  }

  @media print {
    & iframe {
      display: none;
    }

    & .youtubeEmbedPrintText {
      display: inline;
    }
  }
}

