@use "variables.scss";

@mixin media-embed {
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  & iframe {
    width: 100%;
  }
}

@mixin media-embed-full-width-on-mobile {
  @media (max-width: 499px) {
    /* @media (max-width: 560px) { */
    width: calc(100% + 2 * variables.$page-padding-horizontal);
    margin-left: -(variables.$page-padding-horizontal);
    margin-right: -(variables.$page-padding-horizontal);
  }
}

@mixin padded-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: variables.$page-padding-horizontal;
  padding-right: variables.$page-padding-horizontal;
  display: flex;
  flex-direction: column;
}

@mixin hoverable-device-only {
  @media (hover: hover) and (pointer: fine) { @content; };
}

@mixin phone-only {
  @media (max-width: 499px) { @content; };
}

@mixin print-only {
  @media print { @content; };
}
