$font-family: Sora, sans-serif;
$font-size-regular: 1.1rem;
$page-padding-horizontal: 20px;
$color-primary-text: #000000;
$color-primary-text-silent: #bec5c8;
$color-primary-background: #e8f1f5;
$color-footer-text: #e8f1f5;
$color-footer-background: #283e56;
$color-accent: #1989ac;
