@use "../../theme/variables.scss";
@use "../../theme/mixins.scss";
@use "../ArticleImage/ArticleImageShared.scss";

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.66rem;
  padding-bottom: 0.83rem;
}

.gallery3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  width: 100%;
  height: auto;
}

.image {
  @include ArticleImageShared.shared-image-styles;
  width: 100%;
  display: block;

  @include mixins.phone-only {
    width: calc(100% + 2 * variables.$page-padding-horizontal);
  }
}

.image:global(.full-width) {
  max-width: none;
}

.image:global(.padding-on-mobile) {
  @media (max-width: 499px) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@keyframes float {
  0% { transform: translate(0, 0px); }
  75% { transform: translate(0, 8px); }
  100% { transform: translate(0, 0px); }
}

.image:global(.floating) {
  animation: float 4s infinite linear;
}

@media (max-width: 560px) {
  .gallery {
    grid-template-columns: 1fr;
  }
  .gallery3 {
    grid-template-columns: 1fr;
  }
}

