@use "../theme/mixins.scss";

.youtube-embed {
  @include mixins.media-embed;
  @include mixins.media-embed-full-width-on-mobile;

  & iframe {
    aspect-ratio: 16 / 9;
  }

  & .youtube-embed-print-text {
    display: none;
  }

  @media print {
    & iframe {
      display: none;
    }

    & .youtube-embed-print-text {
      display: inline;
    }
  }
}
