@use "../theme/variables.scss";

h1 {
  .separator,
  .subtitle {
    font-weight: 300;
  }

  @media (max-width: 560px) {
    .separator {
      display: none;
    }
    .subtitle {
      display: table;
      background-color: variables.$color-footer-background;
      color: variables.$color-footer-text;
      font-size: 1.1rem;
      padding: 0.415em 0.83em;
      margin-top: 0.415em;
    }
  }
}
